apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.18.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: api
  name: api
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: api
    spec:
      containers:
      - args:
        - --rest
        image: tc3jp/productsearch-service:develop-1.0.14.p1
        name: api
        env:
        - name: SPRING_JDBC_URL
          value: jdbc:mysql://mysql:3306/website_crawler?useSSL=false&nullNamePatternMatchesAll=true&allowPublicKeyRetrieval=true
        - name: SOLR_URL
          value: http://solr:8983/solr/manufacturer_product
        ports:
        - containerPort: 8090
        resources: {}
      restartPolicy: Always
status: {}
