debug: false
logging:
  file: website_crawler.log
  # crawler process must have write permission for the given path
  # path: /var/log
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG
    com.gargoylesoftware.htmlunit: ERROR
    com.gargoylesoftware.htmlunit.javascript.StrictErrorReporter: OFF

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/website_crawler?useSSL=false&nullNamePatternMatchesAll=true&allowPublicKeyRetrieval=true
    username: root
    password: mypassword
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      idle-timeout: 60000
  jpa:
    show-sql: true
    properties:
      hibernate:
        format__sql: true
  thymeleaf:
    cache: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
      base-path: /
      path-mapping:
        health: healthcheck

server:
  port: 8090
  servlet-path: /api
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024

authentication:
  basic:
    enabled: true
    credentials:
      username: admin
      password: adminpass
  token:
    enabled: true
    secret: SECRET-DEV
    issuer: https://api.productsearch.topcodcer-dev.com
    audience: https://auth.productsearch.topcodcer-dev.com
    expiresIn: 36000
  user:
    salt: ABCDEFG

cors:
  allowed-origins: "*"
  allowed-methods: HEAD,GET,PUT,POST,DELETE

# the convert solr uri
solr:
  uri: http://solr:8983/solr/manufacturer_product

optimization:
  list_size: 10
  search_max_pages: 50
  priority_rank_threshold: 2
