debug: false
logging:
  file: website_crawler.log
  # crawler process must have write permission for the given path
  # path: /var/log
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG
    com.gargoylesoftware.htmlunit: ERROR

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/website_crawler?useSSL=false&nullNamePatternMatchesAll=true&allowPublicKeyRetrieval=true
    username: root
    password: mypassword
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      idle-timeout: 60000
  thymeleaf:
    cache: false

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
      base-path: /
      path-mapping:
        health: healthcheck

server:
  port: 8090
  servlet-path: /api
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1024

authentication:
  enabled: true
  credentials:
    username: admin
    password: adminpass

cors:
  allowed-origins: "*"
  allowed-methods: HEAD,GET,PUT,POST,DELETE

solr:
  uri: http://127.0.0.1:8983/solr/manufacturer_product

crawler-settings:
  #Interval between each subsequent request (milliseconds)
  interval: 1000

  #task parallel size
  parallel-size: 12

  #Timeout for downloading a page (minutes)
  timeout-download: 2

  #Max number of times to retry a single page.
  retry-times: 2

  #Time lapse period for Expired pages in number of Days.
  page-expired-period: 30

  #URL normalizer properties
  #WIP: Order in which normalizers will run. If any of these isn't
  #activated it will be silently skipped. If other normalizers not on the
  #list are activated, they will run in random order after the ones
  #specified here are run.
  urlnormalizer.order: org.apache.nutch.net.urlnormalizer.basic.BasicURLNormalizer org.apache.nutch.net.urlnormalizer.regex.RegexURLNormalizer

  #Name of the config file used by the RegexUrlNormalizer class.
  urlnormalizer.regex.file: regex-normalize-default.xml

  #Optionally loop through normalizers several times, to make
  #sure that all transformations have been performed.
  urlnormalizer.loop.count: 1