version: "3"
services:

  solr:
    image: tc3jp/productsearch-solr:8.1.1-1.0.15
    build:
      context: ./solr/
    volumes:
      - search-store:/var/solr/data
    ports:
      - 8983:8983
  
  mysql:
    image: tc3jp/productsearch-mysql:8.0.17-1.0.15
    build:
      context: ./mysql/
    volumes:
      - db-store:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      #- MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASS}
      - MYSQL_ROOT_PASSWORD=${DB_PASS}
      - TZ=${TZ}
    ports:
      - ${DB_PORT}:3306

  api:
    image: tc3jp/productsearch-service:${PROFILE}-${API_VER}
    depends_on:
      - mysql
      - solr
    ports:
      - ${API_PORT}:8090
    command: "--rest"

  job:
    image: tc3jp/productsearch-service:${PROFILE}-${API_VER}
    depends_on:
      - mysql
      - solr
    entrypoint: "bash"
    tty: true

volumes:
  search-store:
    driver: local
  db-store:
    driver: local
